[Desktop Entry]
Comment=
Terminal=false
Name=Conexão de Área de Trabalho Remota
Exec=grdesktop.sh
Type=Application
Icon=/usr/share/icons/Remote_desktop_connection_icon.png
GenericName[pt_BR.UTF-8]=Conexão de Área de Trabalho Remota
Comment[pt_BR.UTF-8]=Conexão de Área de Trabalho Remota
